wandb/
Models/OutputModels/
TestPrograms/
Logging/Logs/
models_oddity/
Annotation/
__pycache__/
sweeps/
Inference/OutputInference/

GitSkinSegmentation.py
JsonTest.py
Training/TEMPTrainSkinSegmentation.py
Training/SkinPixelSegmentation.py


Notes.txt

*.mp4
*.png
*.jpg
*.jpeg
*.yaml
*.sh
*.json

.DS_Store

