machine=OTS5
device=cuda
seed=42
automatic_mixed_precision=True
pretrained=True
early_stopping=False
patience=3
min_improvement=0.01
num_channels=3
dims=224
num_skintone_classes=5 
max_video_length=16
num_workers=4
batch_size=32
colour_space=HSV
lr=0.0001
augmentation_rate=0.5
traintest_split=0.85
trainvalidation_split=0.85
num_epochs=1
architecture=I3D_SkinTone
weights_path=/home/oddity/marieke/SkinToneCode/Models/Weights/rgb_imagenet.pt
model_path=/home/oddity/marieke/Output/SkinToneModels
data_path=/home/oddity/marieke/Datasets/07_definitive_samples
sampletype=BGR_grinchsamples