machine=OTS5
device=cuda
seed=42
automatic_mixed_precision=True
pretrained=True
num_channels=3
dims=224
num_violence_classes=1
max_video_length=16
num_workers=4
batch_size=64
colour_space=BGR
lr=0.0001
WBCEweight=4
dataset_size=128
traintest_split=0.95
trainvalidation_split=0.95
num_epochs=2
architecture=I3D_Violence
data_path=/home/oddity/marieke/Datasets/marieke-copy-refined-nms-data-0103
model_path=/home/oddity/marieke/Output/ViolenceModels
weights_path=/home/oddity/marieke/CodeViolenceModel/Models/Weights/rgb_imagenet.pt
sampletype=BGR_definitive_grinchsamples_210324